
<div class="nav-header">

    <nav class="navbar fixed-top bg-dark navbar-dark navbar-expand-sm">
        <!-- Navbar content -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="./assets/img/hacker_icon.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Connect!</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse order-2 dual-collapse2 w-100">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-dark btn-md" (click)="onDownloadResume()">
                            <a style="color: black" href="assets/resumes/CV_Alejandro_Florido_Reyes(ENG).pdf">
                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                Download CV 
                            </a>
                        </button>
                    </li>
                    <li class="nav-item" (click)="announceLanguageChanged()">
                        <a class="nav-link" href="#" style="width: 120%;">
                            <img src="./assets/img/uk_flag.png" alt="UK_flag"> ENGLISH
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>