.navbar {
    margin: 0 !important;
}

a.nav-link {
    color: #ffffff;
    font-size: large;
    line-height: 2.5;
    font-weight: bold;
    text-decoration: none;
}

a.nav-link:hover {
    color: rgb(89, 213, 178);
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

nav {
    position: fixed;
    top: 0px;
}

button {
    border-color: rgb(255, 74, 74);
    background-color: white;
    color: black;
    margin-right: 10px;
    margin-top: 9%;
    filter: invert(1);
}

button:hover {
    border-color: rgb(255, 74, 74);
    background-color: white;
    color: black;
    margin-right: 10px;
    margin-top: 9%;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.topBotomBordersOut {
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
    position: relative;
    transition: 200ms ease;
}


/* Top and Bottom borders go out */

.topBotomBordersOut:before,
.topBotomBordersOut:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(89, 213, 178);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotomBordersOut:before {
    top: 13%;
    transform: translateY(10px);
}

.topBotomBordersOut:after {
    bottom: 13%;
    transform: translateY(-10px);
}

.topBotomBordersOut:hover:before,
.topBotomBordersOut:hover:after {
    opacity: 1;
    transform: translateY(0px);
}