<!-- begin section -->

<div class="section">
    <div class="content">
        <h1 class="wow fadeInDown" data-wow-delay="0.4s">ABOUT ME</h1>
        <p class="wow fadeInDown" data-wow-delay="0.4s">Hello! I am Alejandro Florido, a Full Stack Developer and Data Engineer with experience in finance and tons of passion for programming.</p>


        <h1 class="wow fadeInDown " data-wow-delay="0.4s ">Programming Languages</h1>
        <br>
        <div class="wow fadeInDown cards" data-wow-delay="0.4s " style="display: flex; ">
            <mat-card style="max-width: 200px; max-height: 250px; background-color: transparent; margin-right: 10px; ">
                <mat-card-header style="margin-left: auto;margin-right: auto; ">
                    <mat-card-title>Python</mat-card-title>
                    <mat-card-subtitle style="color: #797c7b; ">Expert</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="invert" src="./assets/img/python_logo.svg " alt="Python Logo " style="max-width: 100px; max-height: 100px; margin-left: auto; margin-right:auto; ">
                <mat-card-content>
                    <p style="font-size: 15px; ">Pandas, Numpy, Seaborn, Scikit-Learn, Pytest, etc.</p>
                </mat-card-content>
            </mat-card>

            <mat-card style="max-width: 200px; max-height: 250px; background-color: transparent; margin-right: 10px; ">
                <mat-card-header style="margin-left: auto;margin-right: auto; ">
                    <mat-card-title>JavaScript</mat-card-title>
                    <mat-card-subtitle style="color: #797c7b; ">Intermediate</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="invert" src="./assets/img/JavaScript-logo.png " alt="JavaScript Logo " style="padding: 10px; max-width: 100px; max-height: 100px; margin-left: auto; margin-right:auto; ">
                <mat-card-content>
                    <p style="font-size: 15px; ">Includes TypeScript. Mostly Angular, learning React.</p>
                </mat-card-content>
            </mat-card>

            <mat-card style="max-width: 200px; max-height: 250px; background-color: transparent; margin-right: 10px; ">
                <mat-card-header style="margin-left: auto;margin-right: auto; ">
                    <mat-card-title>SQL</mat-card-title>
                    <mat-card-subtitle style="color: #797c7b; ">Intermediate</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="invert" src="./assets/img/sql-logo.png " alt="SQL Logo " style="padding:5px; max-width: 100px; max-height: 100px; margin-left: auto; margin-right:auto; ">
                <mat-card-content>
                    <p style="font-size: 15px; ">Expert in ETLs. Beginner in Database management.</p>
                </mat-card-content>
            </mat-card>

            <mat-card style="max-width: 200px; max-height: 250px; background-color: transparent; margin-right: 10px; ">
                <mat-card-header style="margin-left: auto;margin-right: auto; ">
                    <mat-card-title>Rust</mat-card-title>
                    <mat-card-subtitle style="color: #797c7b; ">Beginner</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./assets/img/Rust_logo.png " alt="Rust Logo " style="padding:5px; max-width: 100px; max-height: 100px; margin-left: auto; margin-right:auto; cursor: pointer;" (click)="onRustRepository() ">
                <mat-card-content>
                    <p style="font-size: 15px; ">First Steps course by Microsoft. I am looking forward to learn more!</p>
                </mat-card-content>
            </mat-card>

        </div>
        <br>
        <h1 class="wow fadeInDown " data-wow-delay="0.4s ">Projects</h1>
        <div style="border: white 1px solid; border-radius: 10px; margin-bottom: 500px;">
            <mat-tab-group [color]="'primary'" mat-align-tabs="end" style="background-color: rgb(124, 124, 124); border-radius: 10px">
                <ng-container *ngFor="let skill of all_projects">
                    <mat-tab label={{skill.skill}}>
                        <ul *ngFor="let project of skill.projects">
                            <li style="text-align: justify; margin-top: 1%;">
                                <mat-icon style="vertical-align: middle;">check_circle</mat-icon>
                                <a href={{project.repository}} style="vertical-align: middle; color: #d13639;">
                                    {{project.title}}
                                </a>
                            </li>
                        </ul>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </div>
    </div>
</div>
<!-- end section -->

<!-- begin section -->