h1, p, .skillbar{
    margin-left: 10%;
}

.cards {
    width: 120%;
}

img.invert {
    filter: invert(1);
}

.skillbar {
    filter: invert(1);
}

.skill-bar-percent {
    font-weight: bold;
    font-size: small;
}

