<!-- begin section -->

<div class="section">
    <div class="content">
        <h1 class="wow fadeInDown" data-wow-delay="0.4s">ABOUT ME</h1>
        <p class="wow fadeInDown" data-wow-delay="0.4s">Hello! I am Alejandro Florido, a Full Stack Developer and Data Engineer with experience in finance and tons of passion for programming.</p>

        <div class="skills">
            <div class="skill" style="cursor: auto;">
                <div class="skill-title"><span> HTML5</span></div>
                <!-- <object data="./assets/img/html5.svg" width="20px" height="20px" style="margin-top: 10px;"></object> -->
                <div class="skill-bar">
                    <div @skillBarGrowth *ngIf="isShown" class="skill-per" per="90%" style="max-width: 90%;background: #22abe1;"></div>
                </div>
            </div>
            <!-- End Skill Bar -->

            <div class="skill" style="cursor: auto;">
                <div class="skill-title"><span> CSS3</span></div>
                <!-- <object data="./assets/img/html5.svg" width="20px" height="20px" style="margin-top: 10px;"></object> -->
                <div class="skill-bar">
                    <div class="skill-per" per="80%" style="max-width: 80%;background: #f95d34;"></div>
                </div>
            </div>
            <!-- End Skill Bar -->

            <div class="skill" style="cursor: auto;">
                <div class="skill-title"><span> Angular</span></div>
                <!-- <object data="./assets/img/html5.svg" width="20px" height="20px" style="margin-top: 10px;"></object> -->
                <div class="skill-bar">
                    <div class="skill-per" per="70%" style="max-width: 70%;background: #22e1d0;"></div>
                </div>
            </div>
            <!-- End Skill Bar -->

            <div class="skill" style="cursor: auto;">
                <div class="skill-title"><span> DJango</span></div>
                <!-- <object data="./assets/img/html5.svg" width="20px" height="20px" style="margin-top: 10px;"></object> -->
                <div class="skill-bar">
                    <div class="skill-per" per="60%" style="max-width: 60%;background: #eab2fe;"></div>
                </div>
            </div>
            <!-- End Skill Bar -->

            <div class="skill" style="cursor: auto;">
                <div class="skill-title"><span> Flask</span></div>
                <!-- <object data="./assets/img/html5.svg" width="20px" height="20px" style="margin-top: 10px;"></object> -->
                <div class="skill-bar">
                    <div class="skill-per" per="20%" style="max-width: 20%;background: #b7b7b7;"></div>
                </div>
            </div>
            <!-- End Skill Bar -->

            <div class="skill" style="cursor: auto;">
                <div class="skill-title"><span> React</span></div>
                <!-- <object data="./assets/img/html5.svg" width="20px" height="20px" style="margin-top: 10px;"></object> -->
                <div class="skill-bar">
                    <div class="skill-per" per="20%" style="max-width: 20%;background: #a62a4d;"></div>
                </div>
            </div>
            <!-- End Skill Bar -->
        </div>
        <br>
        <h1 class="wow fadeInDown " data-wow-delay="0.4s ">Programming Languages</h1>
        <br>
        <div class="wow fadeInDown cards" data-wow-delay="0.4s " style="display: flex; ">
            <mat-card style="max-width: 200px; max-height: 250px; background-color: transparent; margin-right: 10px; ">
                <mat-card-header style="margin-left: auto;margin-right: auto; ">
                    <mat-card-title>Python</mat-card-title>
                    <mat-card-subtitle style="color: #797c7b; ">Expert</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="invert" src="./assets/img/python_logo.svg " alt="Python Logo " style="max-width: 100px; max-height: 100px; margin-left: auto; margin-right:auto; ">
                <mat-card-content>
                    <p style="font-size: 15px; ">Pandas, Numpy, Seaborn, Scikit-Learn, Pytest, etc.</p>
                </mat-card-content>
            </mat-card>

            <mat-card style="max-width: 200px; max-height: 250px; background-color: transparent; margin-right: 10px; ">
                <mat-card-header style="margin-left: auto;margin-right: auto; ">
                    <mat-card-title>JavaScript</mat-card-title>
                    <mat-card-subtitle style="color: #797c7b; ">Intermediate</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="invert" src="./assets/img/JavaScript-logo.png " alt="JavaScript Logo " style="padding: 10px; max-width: 100px; max-height: 100px; margin-left: auto; margin-right:auto; ">
                <mat-card-content>
                    <p style="font-size: 15px; ">Includes TypeScript. Mostly Angular, learning React.</p>
                </mat-card-content>
            </mat-card>

            <mat-card style="max-width: 200px; max-height: 250px; background-color: transparent; margin-right: 10px; ">
                <mat-card-header style="margin-left: auto;margin-right: auto; ">
                    <mat-card-title>SQL</mat-card-title>
                    <mat-card-subtitle style="color: #797c7b; ">Intermediate</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="invert" src="./assets/img/sql-logo.png " alt="SQL Logo " style="padding:5px; max-width: 100px; max-height: 100px; margin-left: auto; margin-right:auto; ">
                <mat-card-content>
                    <p style="font-size: 15px; ">Expert in ETLs. Beginner in Database management.</p>
                </mat-card-content>
            </mat-card>

            <mat-card style="max-width: 200px; max-height: 250px; background-color: transparent; margin-right: 10px; ">
                <mat-card-header style="margin-left: auto;margin-right: auto; ">
                    <mat-card-title>Rust</mat-card-title>
                    <mat-card-subtitle style="color: #797c7b; ">Beginner</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./assets/img/Rust_logo.png " alt="Rust Logo " style="padding:5px; max-width: 100px; max-height: 100px; margin-left: auto; margin-right:auto; cursor: pointer;" (click)="onRustRepository() ">
                <mat-card-content>
                    <p style="font-size: 15px; ">First Steps course by Microsoft. I am looking forward to learn more!</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>
<!-- end section -->

<!-- begin section -->