<!-- begin section -->

<div class="section" data-anchor="skills">
    <div class="content">
        <h1 class="wow fadeInDown" data-wow-delay="0.4s">ABOUT ME</h1>
        <p class="wow fadeInDown" data-wow-delay="0.4s">Hello! I am Alejandro Florido, a Full Stack Developer and Data Engineer with experience in finance and tons of passion for programming.</p>

        <div class=" wow fadeInUp container-skillbar" data-wow-delay="0.4s">
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title" style="background: #dd541e;"><span> HTML5</span></div>
                <!-- <object data="./assets/img/html5.svg" width="20px" height="20px" style="margin-top: 10px;"></object> -->
                <div class="skillbar-bar" style="background: #dd541e;"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title" style="background: #06A2CB;"><span>CSS3</span></div>
                <div class="skillbar-bar" style="background: #06A2CB;"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #DD1E2F;"><span>Angular</span></div>
                <div class="skillbar-bar" style="background: #DD1E2F;"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title" style="background: #154d01;"><span>Django</span></div>
                <div class="skillbar-bar" style="background: #154d01;"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title" style="background: #484848;"><span>Flask</span></div>
                <div class="skillbar-bar" style="background: #484848;"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="20%">
                <div class="skillbar-title" style="background: #4dd2d2;"><span>React</span></div>
                <div class="skillbar-bar" style="background: #4dd2d2;"></div>
                <div class="skill-bar-percent">20%</div>
            </div>
            <!-- End Skill Bar -->
        </div>
        <br>
        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Programming Languages</h1>
    </div>
</div>
<!-- end section -->

<!-- begin section -->