<app-navbar-eng></app-navbar-eng>

<!-- begin fullpage -->

<div id="fullpage">

    <app-front-page-eng></app-front-page-eng>

    <app-skills-eng></app-skills-eng>

    <app-work-experience-eng></app-work-experience-eng>

    <app-contact-eng></app-contact-eng>

    <!-- begin section -->

    <div class="section fp-auto-height">
        <div class="footer">
            <p>CONNECT WITH ME</p>
            <div class="social-links">
                <span><a href="https://www.linkedin.com/in/alejandro-florido-reyes" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></span>
                <span><a href="https://github.com/LMAFR" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
            </div>
        </div>
    </div>
    <!-- end section -->

</div>