<div class="section" data-anchor="projects">
    <h1 style="color:rgb(89, 213, 178)">WORK EXPERIENCE</h1>

    <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="flip">
                    <div class="front" style="background-image: url(./assets/img/trading.jpg)">
                        <h1 class="">Scientia Prop Traders</h1>
                    </div>
                    <div class="back ">
                        <h2>Software Engineer - {{timeInCompany("2020-06-01", "2019-12-01") }} (Internship)</h2>
                        <h3>(2019/12 - 2020/06)</h3>
                        <hr>
                        <ul>
                            <li>
                                <h4>- Automation of trading processes in MetaTrader4, mostly through the creation of visual indicators.</h4>
                            </li>
                            <li>
                                <h4>- First approach to Neural Networks and Python.</h4>
                            </li>
                            <li>
                                <h4>- Attempts to create a customized trading bot.</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flip">
                    <div class="front" style="background-image: url(./assets/img/indra_edificio.jpg)">
                        <!-- <div style="background-color: black; opacity: 0.3; max-width: 300px; margin-left: auto; margin-right: auto; border-radius: 7%;"> -->
                        <h1 class="">Indra</h1>
                        <h1 class="">AI Department</h1>
                        <!-- </div> -->
                    </div>
                    <div class="back ">
                        <h2>Data Scientist - {{timeInCompany("2021-06-01", "2021-03-01") }} (Internship)</h2>
                        <h3>(2021/03 - 2021/06)</h3>
                        <hr>
                        <ul>
                            <li>
                                <h4>- Improvement of financial processes choosing the best Machine Learning algorithm and refactoring code for optimization. The programming language was Python.</h4>
                            </li>
                            <li>
                                <h4>- Management of Local Virtual Environments using Bash.</h4>
                            </li>
                            <li>
                                <h4>- Design of ETLs using AWS (Redshift) and SQL.</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flip">
                    <div class="front" style="background-image: url(./assets/img/ms_edificio.jpg)">
                        <!-- <div style="background-color: black; opacity: 0.3; max-width: 300px; margin-left: auto; margin-right: auto; border-radius: 7%;"> -->
                        <h1 class="">Management Solutions</h1>
                        <h1 class="">Market Risk</h1>
                        <!-- </div> -->
                    </div>
                    <div class="back ">
                        <h2>Data Engineer - {{timeInCompany("2022-03-01", "2021-06-01") }}</h2>
                        <h3>(2021/06 - 2022/03)</h3>
                        <hr>
                        <ul>
                            <li>
                                <h4>- Development of a tool to check FRTB requirements using Python.</h4>
                            </li>
                            <li>
                                <h4>- Creation of GUIs in Python using Tkinter.</h4>
                            </li>
                            <li>
                                <h4>- Design of ETLs in Google Cloud using Pandas, Scikit-Learn and Numpy for Data Management.</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flip">
                    <div class="front" style="background-image: url(./assets/img/kpmg_edificio.jpg)">
                        <!-- <div style="background-color: black; opacity: 0.3; max-width: 300px; margin-left: auto; margin-right: auto; border-radius: 7%;"> -->
                        <h1 class="">KPMG</h1>
                        <h1 class="">Financial Services</h1>
                        <!-- </div> -->
                    </div>
                    <div class="back" style="overflow-y: scroll;">
                        <h2>FullStack Developer - {{timeInCompany("", "2022-12-01") }}</h2>
                        <h3>(2022/12 - Now)</h3>
                        <hr>
                        <ul>
                            <li>
                                <h4>- Development of features for internal project.</h4>
                            </li>
                            <li>
                                <h4>- Main tools: Angular (Front-End), Django (Back-End) and Microsoft SQL Server (Database).</h4>
                            </li>
                            <li>
                                <h4>- Other tools: Git, AWS, Jira.</h4>
                            </li>
                        </ul>
                        <hr>
                        <hr>
                        <h2>Data Engineer - {{timeInCompany("2022-12-01", "2022-03-01") }}</h2>
                        <h3>(2022/03 - 2022/12)</h3>
                        <hr>
                        <ul>
                            <li>
                                <h4>- Two international projects 100% in English and Full Remote.</h4>
                            </li>
                            <li>
                                <h4>- ETLs and analysis of data using SAS.</h4>
                            </li>
                            <li>
                                <h4>- Client audited by ECB and PRA (IRB model validation for Credit Risk).</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <i class="fa fa-5x fa-caret-left" aria-hidden="true"></i>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <i class="fa fa-5x fa-caret-right" aria-hidden="true"></i>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
<!-- end section -->