h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 320px;
    margin-left: 60px;
    overflow: hidden;
    white-space: nowrap;
}

p {
    margin-left: 70px;
    overflow: hidden;
    white-space: nowrap;
}

h1:hover {
    color: rgb(89, 213, 178);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}