h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-left: 10%;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 2000px) {
    h1{
        margin-top: 80%;
    }
  }
  @media (max-width: 1500px) {
    h1{
        margin-top: 60%;
    }
  }

p {
    margin-left: 12%;
    overflow: hidden;
    white-space: nowrap;
}

h1:hover {
    color: rgb(89, 213, 178);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}