h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

h1:hover {
    color: rgb(89, 213, 178);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}